@{
    ViewBag.Title = "Product";
    var sortFields = (string[])ViewBag.SortFields;
}
<br />
<div>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" name="keyword" id="searchText" />
        </div>
        <div class="form-group">
            <select id="sortFields" class="form-control">
                <option value="">None</option>
                @foreach (var sortField in sortFields)
                {
                    <option value="@sortField">@sortField</option>
                }
            </select>
        </div>
        <div class="form-group">
            <select id="sortDescending" class="form-control">
                <option value="true">Descending</option>
                <option value="false">Ascending</option>
            </select>
        </div>
        <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
    </form>
</div>
<p id="suggest" class="text-info"></p>
<ul id="prompts">
</ul>
<hr />
<table id="products" class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Member Price</td>
            <td>Market Price</td>
            <td>Shop Name</td>
            <td>Published Time</td>
            <td>Score</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#searchText').keyup(function () {
                var searchKeyword = $(this).val();
                $.get("/product/searchprompts?keyword=" + searchKeyword, function (data) {
                    $('#prompts').html("");
                    var htmlStr = "";
                    for (var i = 0; i < data.length; i++) {
                        htmlStr += "<li>" + data[i].Name + "&nbsp;Count:" + data[i].ProductCount + "</li>";
                    }
                    $('#prompts').html(htmlStr);
                });
            });

            $('#searchBtn').click(function () {
                var keyword = $('#searchText').val();
                var sortField = $("#sortFields option:selected").val() || "";
                var sortDescending = $('#sortDescending option:selected').val() || true;
                var url = '/product/searchproducts?keyword=' + keyword + "&sortfield=" + sortField + "&sortDescending=" + sortDescending;

                $.get(url, function (data) {
                    $('#products tbody').html("");
                    var htmlStr = "";
                    for (var i = 0; i < data.Products.length; i++) {
                        htmlStr += "<tr>"
                                    + "<td>" + data.Products[i].Name + "</td>"
                                    + "<td>" + data.Products[i].MemberPrice + "</td>"
                                    + "<td>" + data.Products[i].MarketPrice + "</td>"
                                    + "<td>" + data.Products[i].ShopName + "</td>"
                                    + "<td>" + data.Products[i].PublishedTime + "</td>"
                                    + "<td>" + data.Products[i].Score + "</td></tr>";
                    }
                    $('#products tbody').html(htmlStr);

                    if (data.Suggest) {
                        $('#suggest').show().html("你是不是想找:" + data.Suggest);
                    }
                    else {
                        $('#suggest').hide();
                    }
                });
            });
        });
    </script>
}
