@model IEnumerable<LocationSearchResult>
@{
    ViewBag.Title = "Location";
}

<div class="form-group form-horizontal" style="margin-top: 10px">
    <form method="get" asp-controller="Location" asp-action="Index">
        <div><label>Keyword:</label><input type="text" name="keyword" value="@ViewBag.SearchModel.Keyword"/></div>
        <div><label>From longitude:</label><input type="text" name="longitude" value="@ViewBag.SearchModel.Longitude" /></div>
        <div><label>From latitude:</label><input type="text" name="latitude" value="@ViewBag.SearchModel.Latitude" /></div>

        <input type="submit" value="Search"/>
    </form>
</div>

<ul>
    @foreach (var location in Model)
    {
        <li>@($"Name: {location.Name.PadRight(20)}, Longtitude: {location.Longitude}, Latitude: {location.Latitude}, distance: {location.Distance}km")</li>
    }
</ul>

<div>
    <a asp-action="add">Add location</a>
</div>